.section-about {
  background-color: $c-lightgray;
  padding-top: 12.5%;
  @include media-breakpoint-up(md) {
    padding-top: 9.4%;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 5.7%;
  }
  &__row {
    position: relative;
  }
  &__cta-col {
    @include media-breakpoint-up(md) {
      align-self: flex-end;
    }
  }
  &__img {
    @include media-breakpoint-up(md) {
      transform: translateX(40px);
    }
    @include media-breakpoint-up(xl) {
      max-width: 105.5%;
    }
  }
}

.section-rewards {
  padding: 12.2% 16px;
  @include media-breakpoint-up(md) {
    margin-top: -8%;
    padding: 24.3% 0 5.6%;
  }
}

.section-join-us {
  padding: 11.6% 0 0;
  @include media-breakpoint-up(md) {
    padding: 11.6% 0 7.7%;
  }
  @include media-breakpoint-up(xl) {
    padding: 5.6% 0 7.7%;
  }

  &__row {
    position: relative;
    @include media-breakpoint-up(md) {
      flex-direction: column;
    }
  }
  &__offset-col {
    @include media-breakpoint-up(md) {
      align-self: flex-end;
      margin-top: -5rem;
      padding-top: 5rem;
      width: 82%;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      padding-top: 0;
      position: absolute;
      width: calc(100% - 44.5%);
      left: 44.5%;
      top: 67px;
    }
  }
}

.section-contact {
  padding: 0 0 4%;
  @include media-breakpoint-up(md) {
    padding: 28% 0 4%;
    margin-top: -25%;
  }

  @include media-breakpoint-up(xl) {
    padding: 5.25% 0;
    margin-top: 0;
  }

  &__form-col {
    padding: 4.2rem 1.6rem;
    @include media-breakpoint-up(xl) {
      padding: 0;
    }
  }

  &__row {
    align-items: center;
  }

  @include media-breakpoint-up(xl) {
    &__col:first-child {
      padding-right: 1.5rem;
    }
    &__col:last-child {
      padding-left: 1.5rem;
    }
  }
}
