.section-about {
  padding: 5rem 0 0;
  @include media-breakpoint-up(md) {
    background-color: none;
    padding: 6rem 0 0;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 7rem;
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
  }

  &__cta-col {
    flex-basis: 100%;
    @include media-breakpoint-up(md) {
      flex-basis: 68%;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 50%;
    }
  }

  &__img-col {
    margin-top: -3rem;
    @include media-breakpoint-up(md) {
      flex-basis: 70%;
      margin-top: 0;
      margin-left: 3rem;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 54%;
      margin-left: -4%;
      transform: translateY(10.5rem);
    }
  }

  &__statistics-col {
    width: 100%;
    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      width: 35%;
      top: 45%;
      transform: translateY(-50%);
    }
    @include media-breakpoint-up(xl) {
      position: static;
      transform: translateY(0);
      width: auto;
      margin: 0 auto 0 7%;
    }
  }
}

.section-map {
  padding: 5rem 1.6rem;
  @include media-breakpoint-up(md) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 7rem 0;
  }
}

.section-join-us {
  padding: 5rem 0 0;

  @include media-breakpoint-up(md) {
    background-color: none;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @include media-breakpoint-up(xl) {
    padding: 7rem 0;
    background-image: none;
  }

  &__cta-col {
    @include media-breakpoint-up(md) {
      flex-basis: 83%;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 40%;
    }
  }
  &__blockquote-col {
    margin-top: -3rem;
    @include media-breakpoint-up(md) {
      flex-basis: 87%;
      margin-left: 13%;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 65%;
      padding-top: 0;
      margin-left: -5%;
      margin-top: 7rem;
    }
  }
}

.section-files {
  padding: 5rem 0 0;

  @include media-breakpoint-up(md) {
    background-color: none;
    padding: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @include media-breakpoint-up(xl) {
    padding: 7rem 0;
    background-image: none;
  }

  &__row {
    @include media-breakpoint-up(xl) {
      margin: 4rem 0;
    }
  }

  &__cta-col {
    @include media-breakpoint-up(md) {
      flex-basis: 83%;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 50%;
    }
  }

  &__blockquote-col {
    margin-top: -3rem;
    @include media-breakpoint-up(md) {
      flex-basis: 87%;
      margin-left: 13%;
      padding-top: 6rem;
      margin-top: -6rem;
    }
    @include media-breakpoint-up(xl) {
      flex-basis: 55%;
      padding-top: 0;
      margin-left: -5%;
      margin-top: 2rem;
    }
  }

  &__row--reversed {
    .section-files__cta-col {
      @include media-breakpoint-up(xl) {
        margin-left: -5%;
        flex-basis: 55%;
      }
    }
  }
}

.section-partners {
  padding: 5rem 1.6rem 5rem;
  @include media-breakpoint-up(md) {
    padding: 0 0 6rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 0 7rem;
  }
}

.section-contact {
  padding: 5rem 1.6rem;
  @include media-breakpoint-up(md) {
    padding: 6rem 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 7rem 0;
  }
}
