.map {
  &__main-title {
    margin: 0 auto 3rem;
    @include media-breakpoint-up(md) {
      max-width: 51rem;
      margin-bottom: 2rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 51rem;
      margin-bottom: 3.5rem;
    }
  }

  &__number {
    color: $c-gray;
    &--highlighted {
      color: $c-brand;
    }
  }

  &__img {
    max-width: 7.2rem;
    width: auto;
    margin: 0.5rem auto;
    @include media-breakpoint-up(md) {
      max-width: 10rem;
      margin: 0 auto 1.2rem;
    }
  }
  &__title {
    @include media-breakpoint-up(md) {
      min-height: 5.4rem;
    }
  }
}
