.rewards {
  &__main-title {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      max-width: 51rem;
      margin-bottom: 2rem;
    }
    @include media-breakpoint-up(xl) {
      max-width: 51rem;
      margin-bottom: 3.5rem;
    }
  }
  &__boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__box {
    margin: 1.9rem 0;
    padding: 0 17%;
    transition: $transition-all-default;
    @include media-breakpoint-up(md) {
      margin: 1.9rem 0 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0;
      flex: 0 0 33%;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 20%;
    }
  }

  &__number {
    color: $c-gray;
    &--highlighted {
      color: $c-brand;
    }
  }

  &__img {
    max-width: 7.2rem;
    width: auto;
    margin: 0.5rem auto;
    @include media-breakpoint-up(md) {
      max-width: 10rem;
      margin: 0 auto 1.2rem;
    }
  }
  &__title {
    @include media-breakpoint-up(md) {
      min-height: 5.4rem;
    }
  }
}
