.statistics {
  margin-top: -0.2rem;
  padding: 3.5rem 3rem 2.8rem;
  background-color: $c-brand;
  @include media-breakpoint-up(md) {
    padding: 4.5rem 4.5rem 2.8rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 5rem 2rem 2.8rem;
    z-index: 5;
  }
  &__title {
    padding-bottom: 1.6rem;
  }
  &__box {
    margin: 0.8rem;
  }
  &__value {
    margin-bottom: 0.8rem;
  }
}
