@include media-breakpoint-up(lg) {
  .animated-in-view {
    animation: 0.8s ease-in-out forwards;
    opacity: 0;
    &--active {
      animation-name: fadeFromTop;
    }
  }
}

$class: animation-delay-;
@for $i from 1 through 20 {
  .#{$class}#{$i} {
    animation-delay: $i * 0.1s;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
