*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

iframe {
  display: block;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

li {
  position: relative;
  margin-bottom: 8px;
  &::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: $c-brand;
    position: absolute;
    top: 8px;
    left: -2rem;
    border-radius: 50%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline-color: $c-brand;
  outline-offset: 0.5rem;
}

picture {
  display: block;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

button {
  &:hover {
    cursor: pointer;
  }
}

::selection {
  background-color: $c-brand;
  color: $c-white;
}
